---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
  title={`${frontmatter.title} | LeoryenSoft`}
  description={frontmatter.description}
  image={frontmatter.cover}
  type="article"
>
  <article class="max-w-3xl mx-auto py-14 px-6 prose prose-neutral">
    {
      frontmatter.cover && (
        <img
          src={frontmatter.cover}
          alt={frontmatter.title}
          class="rounded-xl mb-8"
        />
      )
    }

    <h1>{frontmatter.title}</h1>

    <p class="text-gray-500 text-sm mb-8">
      {new Date(frontmatter.date).toLocaleDateString("es-PE")} · {
        frontmatter.author
      }
    </p>

    <slot />

    <section class="mt-20">
      <h2>Artículos relacionados</h2>
      <slot name="related" />
    </section>
  </article>
</BaseLayout>